*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: black;
    height: 100px;
    
    
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    
}
nav a{
    color: white;
    text-decoration: none;

}
nav a:hover{
    color: red;
    border: 2px solid white;
    padding: 3px 6px;
    transition: 0.60s;
}
nav li:last-child a{
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;

}
nav li:last-child a:hover{
    color: black;
}
nav a.active{
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}
nav a.active:hover{
    border: 2px solid red;
}


#logo{
    width: 200px;
    height: 80px;
    cursor: pointer;
   

}

#logo img{
    width: 100%;
    height: auto;
    padding: 10px 5px;
    
}

.hero{
    height: 90vh;
    background-image: url(../images/section.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    

    
}
.hero button{
    background-color: red;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;

}
.hero button:hover{
    background-color: darkred;
}

.video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

/*video section*/
.video-text{
    flex: 1;
}
.video-box{
    flex: 1;
}
.video-box video{
    width: 100%;
    border-radius: 10px;

}
.video-text h2{
    font-size: 32px;
    margin-bottom: 15px;
}
.video-text p{
    font-size: 18px;
    color: #444;
}
/*about session*/

.about{
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;
}
.about h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: rgba(255, 0,0, 0.615);
}
.about p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    

}

